# Environment and Secrets
.env
.venv/
env/
venv/
apresentacao.md

# RAG Local Databases and Cache
cache_md/
faiss_index/

# Python caching and compiled files
__pycache__/
*.py[cod]
*$py.class

# OS Files
.DS_Store
Thumbs.db
